@model IEnumerable<Craft_Beer_Me.Models.Beer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IBU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SRM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food_Pair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BeerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SRM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food_Pair)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
